
<%- include ('../partials/_header.ejs')  %>
    <div class = 'my-5 container-md'>
        <section id = 'main-section'>
            <h1> Điều khoản và dịch vụ </h1>
            <p> Cập nhật lần cuối: ngày 21 tháng 2 năm 2022 </p>
            <p> Vui lòng đọc kỹ các điều khoản và điều kiện này trước khi sử dụng
                Dịch vụ. </p>
            <h1 class = "mt-4"> Diễn giải và Định nghĩa </h1>
            <h2> Phiên dịch </h2>
            <p> Những từ mà chữ cái đầu tiên được viết hoa có
                nghĩa được xác định trong các điều kiện sau đây. Sau
                các định nghĩa sẽ có cùng ý nghĩa bất kể
                chúng xuất hiện ở số ít hoặc số nhiều. </p>
            <h2> Định nghĩa </h2>
            <p> Vì mục đích của các Điều khoản và Điều kiện này: </p>
            <ul>
                <li>
                    <p> <strong> Đơn vị liên kết </strong> có nghĩa là một thực thể kiểm soát,
                        được kiểm soát bởi hoặc dưới sự kiểm soát chung với
                        bên, nơi &quot; kiểm soát &quot; có nghĩa là sở hữu 50%
                        hoặc nhiều hơn cổ phiếu
                         </p>
                </li>
                <li>
                    <p> <strong> Quốc gia </strong> đề cập đến: Argentina </p>
                </li>
                
                
                
                <li>
                    <p> <strong> Thiết bị </strong> có nghĩa là bất kỳ thiết bị nào có thể truy cập
                        Dịch vụ như máy tính, điện thoại di động hoặc kỹ thuật số
                        máy tính bảng. </p>
                </li>
                <li>
                    <p> <strong> Dịch vụ </strong> đề cập đến Trang web. </p>
                </li>
                <li>
                    <p> <strong> Điều khoản và Dịch vụ </strong> (còn được gọi là
                        &quot; Điều khoản &quot;) có nghĩa là các Điều khoản và Điều kiện này
                        hình thành toàn bộ thỏa thuận giữa bạn và Công ty
                        về việc sử dụng Dịch vụ. 
                        <p>
                            Điều khoản này và
                            Thỏa thuận điều kiện đã được tạo với sự trợ giúp của
                            cái <a
                                href = "https://www.termsfeed.com/terms-conditions-generator/"
                                target = "_ blank"> Trình tạo điều khoản và điều kiện </a>.
                        </p>
                    </p>
                </li>
                <li>
                    <p> <strong> Dịch vụ truyền thông xã hội của bên thứ ba </strong> có nghĩa là
                        bất kỳ dịch vụ hoặc nội dung nào (bao gồm dữ liệu, thông tin,
                        sản phẩm hoặc dịch vụ) được cung cấp bởi một bên thứ ba có thể
                        được hiển thị, bao gồm hoặc cung cấp bởi Dịch vụ.
                    </p>
                </li>
            
              
                <li>
                    <p> <strong> Bạn </strong> có nghĩa là cá nhân truy cập hoặc
                        sử dụng Dịch vụ, hoặc công ty, hoặc pháp nhânDh's Desserts hợp pháp khác
                        thay mặt cho cá nhân đó đang truy cập hoặc sử dụng
                        Dịch vụ, nếu có. </p>
                </li>
            </ul>
            <h1 class = "mt-4"> Lời cảm ơn </h1>
            <p> Đây là các Điều khoản và Điều kiện chi phối việc sử dụng
                Dịch vụ và thỏa thuận hoạt động giữa Bạn và
                Công ty. Các Điều khoản và Điều kiện này quy định các quyền và
                nghĩa vụ của tất cả người dùng về việc sử dụng Dịch vụ. </p>
            <p> Quyền truy cập và sử dụng Dịch vụ của bạn tùy thuộc vào
                chấp nhận và tuân thủ các Điều khoản và Điều kiện này.
                Các Điều khoản và Điều kiện này áp dụng cho tất cả khách truy cập, người dùng và
                những người khác truy cập hoặc sử dụng Dịch vụ. </p>
            <p> Bằng cách truy cập hoặc sử dụng Dịch vụ, bạn đồng ý bị ràng buộc bởi những điều này
                Các điều khoản và điều kiện. Nếu bạn không đồng ý với bất kỳ phần nào trong số này
                Điều khoản và Điều kiện thì Bạn không thể truy cập Dịch vụ. </p>
            <p> Bạn tuyên bố rằng bạn trên 18 tuổi. Công ty
                không cho phép những người dưới 18 tuổi sử dụng Dịch vụ. </p>
          
                <p> Bạn tuyên bố rằng bạn trên 18 tuổi. Công ty
                    không cho phép những người dưới 18 tuổi sử dụng Dịch vụ. </p>
                <p> Quyền truy cập và sử dụng Dịch vụ của bạn cũng phụ thuộc vào
                    chấp nhận và tuân thủ Chính sách Bảo mật của
                    Công ty. Chính sách Bảo mật của chúng tôi mô tả các chính sách của Chúng tôi và
                    các thủ tục về việc thu thập, sử dụng và tiết lộ
                             thông tin cá nhân khi Bạn sử dụng Ứng dụng hoặc Trang web
                    và cho Bạn biết về quyền riêng tư của Bạn và cách luật bảo vệ
                    Bạn. Vui lòng đọc kỹ Chính sách bảo mật của chúng tôi trước khi sử dụng
                    Dịch vụ. </p>
                <h1 class = "mt-4"> Liên kết đến các trang web khác </h1>
                <p> Dịch vụ của chúng tôi có thể chứa các liên kết đến các trang web của bên thứ ba hoặc
                    các dịch vụ không do Công ty sở hữu hoặc kiểm soát. </p>
                <p> Công ty không có quyền kiểm soát và không chịu trách nhiệm
                    đối với, nội dung, chính sách bảo mật hoặc thực hành của bất kỳ bên thứ ba nào
                    các trang web hoặc dịch vụ của bên. Bạn cũng thừa nhận và đồng ý
                    rằng Công ty sẽ không chịu trách nhiệm hoặc nghĩa vụ, trực tiếp hoặc
                    gián tiếp, đối với bất kỳ thiệt hại hoặc mất mát nào gây ra hoặc được cho là
                    gây ra bởi hoặc liên quan đến việc sử dụng hoặc dựa vào bất kỳ
                    nội dung, hàng hóa hoặc dịch vụ có sẵn trên hoặc thông qua bất kỳ
                    Các trang web hoặc dịch vụ cà phê đặt chỗ. </p>
                <p> Chúng tôi đặc biệt khuyên Bạn nên đọc các điều khoản và điều kiện và
                    chính sách bảo mật của bất kỳ trang web hoặc dịch vụ của bên thứ ba nào
                    Bạn ghé thăm. </p>
                <h1 class = "mt-4"> Chấm dứt </h1>
                <p> Chúng tôi có thể chấm dứt hoặc tạm ngừng quyền truy cập của Bạn ngay lập tức mà không cần
                             thông báo trước hoặc trách nhiệm pháp lý, vì bất kỳ lý do gì, bao gồm
                    không giới hạn nếu Bạn vi phạm các Điều khoản và Điều kiện này. </p>
                <p> Khi chấm dứt, quyền sử dụng Dịch vụ của Bạn sẽ chấm dứt
                    ngay lập tức. </p>
                <h1 class = "mt-4"> Giới hạn trách nhiệm pháp lý </h1>
                <p> Bất chấp mọi thiệt hại mà Bạn có thể phải chịu, toàn bộ
                    trách nhiệm pháp lý của Công ty và bất kỳ nhà cung cấp nào của Công ty theo bất kỳ
                    quy định của Điều khoản này và biện pháp khắc phục độc quyền của Bạn cho tất cả
                    đã nói ở trên sẽ được giới hạn trong số tiền mà Bạn thực sự thanh toán
                    thông qua Dịch vụ hoặc 100 USD nếu Bạn chưa mua bất kỳ thứ gì
                    thông qua Dịch vụ. </p>
                <p> Trong phạm vi tối đa được luật hiện hành cho phép, trong mọi trường hợp
                    Công ty hoặc các nhà cung cấp của Công ty có phải chịu trách nhiệm pháp lý đối với bất kỳ điều đặc biệt nào,
                    bất kỳ thiệt hại ngẫu nhiên, gián tiếp hoặc do hậu quả nào
                    (bao gồm, nhưng không giới hạn, thiệt hại do mất lợi nhuận,
                    mất dữ liệu hoặc thông tin khác, do gián đoạn kinh doanh,
                    cho thương tích cá nhân, mất quyền riêng tư phát sinh từ hoặc trong bất kỳ
                    cách liên quan đến việc sử dụng hoặc không thể sử dụng Dịch vụ,
                    phần mềm của bên thứ ba và / hoặc phần cứng của bên thứ ba được sử dụng với
                    Dịch vụ, hoặc liên quan đến bất kỳ điều khoản nào trong số này
                    Điều khoản), ngay cả khi Công ty hoặc bất kỳ nhà cung cấp nào đã được thông báo về
                    khả năng xảy ra những thiệt hại như vậy và ngay cả khi việc khắc phục không thành công
                    mục đích thiết yếu của nó. </p>
                <p> Một số tiểu bang không cho phép loại trừ các bảo hành ngụ ýDh's Desserts hoặc
                    giới hạn trách nhiệm đối với các thiệt hại ngẫu nhiên hoặc do hậu quả,
                    có nghĩa là một số giới hạn ở trên có thể không được áp dụng. Trong
                    các trạng thái này, trách nhiệm pháp lý của mỗi bên sẽ được giới hạn trong
                    mức độ lớn nhất được pháp luật cho phép. </p>
               
            
         <h1 class = "mt-4"> Luật điều chỉnh </h1>
         <p>Dh's Desserts Luật pháp của Quốc gia, ngoại trừ các xung đột về quy tắc luật,
             sẽ chi phối Điều khoản này và việc bạn sử dụng Dịch vụ. Việc bạn sử dụng
             Ứng dụng cũng có thể tùy thuộc vào địa phương, tiểu bang,
             luật quốc gia hoặc luật quốc tế. </p>
         <h1 classBookffee = "mt-4"> Giải quyết Tranh chấp </h1>
         <p> Nếu Bạn có bất kỳ mối quan tâm hoặc tranh chấp nào về Dịch vụ, Bạn đồng ý
             trước tiên cố gắng giải quyết tranh chấp một cách không chính thức bằng cách liên hệ với
             Công ty. </p>
         <h1 classBookffee = "mt-4"> Dành cho Người dùng Liên minh Châu Âu (EU) </h1>
         <p> Nếu bạn là người tiêu dùng ở Liên minh Châu Âu, bạn sẽ được hưởng lợi từ bất kỳ
             các quy định bắt buộc của luật pháp của quốc gia mà bạn đang ở
             cư trú tại. </p>
         <h1 class = "mt-4"> Tuân thủ Pháp luật Hoa Kỳ </h1>
         <p> Bạn tuyên bố và đảm bảo rằng (i) Bạn không ở
             quốc gia chịu lệnh cấm vận của chính phủ Hoa Kỳ,
            Dh's Desserts hoặc đã được chính phủ Hoa Kỳ chỉ định là
             &quot; hỗ trợ khủng bố &quot; quốc gia, và (ii) Bạn không
             được liệt kê trong bất kỳ danh sách cấm của chính phủ Hoa Kỳ hoặc
             các bên bị hạn chế. </p>
         <h1 class = "mt-4"> Hiệu lực từng phần và Từ bỏ </h1>
         <h2> Tính hiệu lực từng phần </h2>
         <p> Nếu bất kỳ điều khoản nào trong các Điều khoản này được coi là không thể thi hành hoặc
             không hợp lệ, điều khoản đó sẽ được thay đổi và giải thích thành
             hoàn thành các mục tiêu của việc cung cấp đó ở mức cao nhất
             mức độ có thể theo luật hiện hành và phần còn lại
             các điều khoản sẽ tiếp tục có hiệu lực đầy đủ. </p>
         <h2> Từ bỏ </h2>
         <p> Ngoại trừ trường hợp được cung cấp ở đây, việc không thực hiện quyền hoặc
kffee yêu cầu thực hiện nghĩa vụ theo các Điều khoản này sẽ không
             ảnh hưởng đến khả năng của một bên trong việc thực hiện quyền đó hoặc yêu cầu
             việc thực hiện bất kỳ lúc nào sau đó cũng như việc từ bỏ
             vi phạm cấu thành sự từ bỏ mọi vi phạm tiếp theo. </p>
         <h1 class = "mt-4"> Phiên dịch Bản dịch </h1>
         <Bookffee p> Các Điều khoản và Điều kiện này có thể đã được dịch nếu Chúng tôi có
             đã cung cấp chúng cho Bạn trên Dịch vụ của chúng tôi.
             Bạn đồng ý rằng văn bản gốc tiếng Anh sẽ được ưu tiên trong
             trường hợp tranh chấp. </Bookffee>
         <h1 class = "mt-4"> Các thay đổi đối với các Điều khoản và Điều kiện này </h1>
         <p> Chúng tôi bảo lưu quyền, theo quyết định riêng của mình, sửa đổi hoặc
             thay thế các Điều khoản này bất kỳ lúc nào. Nếu một bản sửa đổi là tài liệu Chúng tôi
             sẽ nỗ lực hợp lý để thông báo trước ít nhất 30 ngày
             trước khi có bất kỳ điều khoản mới nào có hiệu lực. Điều gì tạo nên một
             Thay đổi vật liệu sẽ được quyết định theo quyết định riêng của Chúng tôi. </p>
         <Bookffee p> Bằng cách tiếp tục truy cập hoặc sử dụng Dịch vụ của Chúng tôi sau những bản sửa đổi đó
             có hiệu lực, Bạn đồng ý bị ràng buộc bởi các điều khoản sửa đổi. Nếu
             Bạn không đồng ý với các điều khoản mới, toàn bộ hoặc một phần, vui lòng
             ngừng sử dụng trang web và Dịch vụ. </Bookffee>
         <h1 class = "mt-4"> Liên hệ với chúng tôi </h1>
         <p> Nếu bạn có bất kỳ câu hỏi nào về các Điều khoản và Điều kiện này, Bạn
             có thể liên hệ với chúng tôi: </p>
         <ul>
             <li>
                 <p> Qua email: Desserts@gmail.com </p>
             </li>
           
         </ul>
     </section>
 </div>

                <%- include ('../partials/_footer.ejs') %>