<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/js/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/js/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="nav">
        <div class="logo">
            <img class="logo__img" src="/images/logo.png"/>
            <span class="logo__text">DH's Library</span>
        </div>
        <nav class="menu">
            <ul class="menu__wrapper">
                <li class="menu__item"><a href="/books">Trang chủ</a></li>
                <li class="menu__item"><a href="/books">Shop</a></li>
                <li class="menu__item">Ebooks</li>
                <li class="menu__item">Liên hệ</li>
            </ul>
        </nav>
        <div class="cart">
            <span>
                <% if(typeof user === 'undefined'){ %>
                    <a href="/users/login" class="btn btn-sm btn-success">Đăng nhập</a>
                <% } else{%>
                    <span class="lead mr-2 capital user-name-home">Xin chào, <a href="/users/dashboard" class="btn btn-sm btn-success d-inline"><%= user.name  %></a> </span>
                <% } %>
                <% if(typeof user !== 'undefined' && user.role === 'admin'){ %>
                    <a href="/books/new" class="btn btn-sm btn-primary">Thêm sách mới</a>
                <% } %>
            </span>
            <span class="cart__wrapper">
                 <i class="fas fa-shopping-cart"></i>
            </span>
        </div>
    </div>
